$navWidth: 14rem;
$closedNavWidth: 6rem;
$mobileNav: 5rem;
// BREAKPOINTS
$md: 768px;
// COLORS
$totallyPurple: #8a84ee;
$justLavender: #f2efff;
$barelyTeal: #d1fcec;
$lightBlack: #2f2e41;
$darkWhite: #f7f7f7;
