@use "../utilities/variables" as *;
@use "../utilities/mixins" as m;

.heading {
  padding: 5rem 0 2rem 0;
}

.socials {
  padding: 0 3rem;

  & > div {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    border-left: 0.3rem solid $totallyPurple;
    padding: 0 1rem;

    p {
      display: inline-block;
      margin-left: 1rem;
    }
  }
  .link {
    @include m.text-underline($totallyPurple);
  }
}

.quoteContainer {
  position: relative;
  height: 10rem;
  margin: 3rem 0;

  blockquote {
    position: absolute;

    span {
      color: $totallyPurple;
    }

    &:first-child {
      left: 50%;
      top: 50%;
      transform: translate(-80%, -100%);

      &:before {
        content: "\201C";
        position: absolute;
        top: -4rem;
        left: -4rem;
        font-size: 4em;
        font-style: italic;
        color: rgba($color: $barelyTeal, $alpha: 0.9);
        z-index: -1;
      }
    }

    &:last-child {
      right: 50%;
      bottom: 50%;
      transform: translate(80%, 100%);

      &:after {
        content: "\201D";
        position: absolute;
        top: 1rem;
        right: -2rem;
        font-size: 4em;
        font-style: italic;
        color: rgba($color: $barelyTeal, $alpha: 0.9);
        z-index: -1;
      }
    }
  }
}

@media only screen and (max-width: $md) {
  .socials {
    padding: 0;
  }
}
