@use "../utilities/variables" as *;
@use "../utilities/mixins" as m;

.landing {
  display: flex;
  min-height: 80vh;
  align-items: center;
  .intro,
  .image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.description {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  width: 90%;
  margin: 1.5rem 0 2rem 0;
}

.buttons > .contact {
  @include m.btn($justLavender, $lightBlack);
  margin-right: 2rem;
  margin-bottom: 0.8rem;
}

.buttons > .resume {
  @include m.btn($darkWhite, $lightBlack);
}

@media only screen and (max-width: $md) {
  .landing {
    flex-direction: column;

    .image {
      margin-top: 2rem;
    }
  }
}
