@use "../utilities/variables" as *;
@use "../utilities/mixins" as m;

.heading {
  padding: 5rem 0 0 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: $darkWhite;
  margin: 0 0.5rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin-top: 2rem;

  &:hover {
    background-color: darken($darkWhite, 2);
  }

  h3 {
    padding: 1rem 0;
    border-bottom: 0.3rem solid $totallyPurple;
  }

  li {
    margin: 1.5rem 0;
    &:hover {
      color: $totallyPurple;
    }
  }
}

@media only screen and (max-width: $md) {
  .list {
    flex-direction: column;
    align-items: center;
  }

  // .card {
  //   @include m.margin-except-last(1.5rem);
  // }
}
